body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  padding: 0px 10px;
}
div{
  display: flex;
  justify-content: center;
  margin: 4px;
}
form{
  display: flex;
  flex-direction: column;
  padding: 2px;
}
h1{
  text-align: center;
  grid-column: 1/span 2 ;
}
section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 10px;
}
#TableContainerP{
  max-height: 250px;
  overflow-y: scroll;
}
#TableContainerC{
  max-height: 190px;
  overflow-y: scroll;
}
#root{
  width: 100%;
}
#produto{
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#categoria{
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
option{
  cursor: pointer;
}
